.whole-body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(241, 164, 241);
  padding: 10px;
  display: flex;
}

.headings {
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  margin-left: 10%;
  font-style: italic;
  font-weight: bold;
}

.headings h1 {
  font-size: 50px;
}

.headings h1 span {
  text-shadow: 0 0 5px rgb(187, 13, 193);
}

.headings h2 {
  font-size: 30px;
}

.headings h3 {
  font-size: 20px;
}

.picture {
  height:500px;
  display: flex;
  justify-content: right;
  align-items: right;
  margin-top: 8%;
  margin-left: 10%;
}

.profile-pic {
  border-radius: 70%;
  border: 10px solid;
  border-color: rgb(187, 13, 193) black;
  box-shadow: 0 0 40px rgb(187, 13, 193);
}
@media only screen and (max-width: 1223px){
  .picture{
    margin-left: 10%;
  }
  .headings{
    margin-left: 5%;
  }
}
@media only screen and (max-width: 1084px){
  .picture{
    margin-left: 5%;
  }
  .headings{
    margin-left:5%;
  }
.profile-pic {
  height: 450px;
  width: 300px;
}
}
@media only screen and (max-width:950px){
  .picture{
    margin-left: 3%;
    margin-top: 15%;
  }
  .headings{
    margin-left:3%;
    margin-top: 25%;
  }.profile-pic {
    height: 400px;
    width: 250px;
  }
  .headings h1 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 800px){
  .picture{
    margin-left: 2%;
    margin-top: 15%;
  }
  .headings{
    margin-left:2%;
    margin-top: 25%;
  }.profile-pic {
    height: 350px;
    width: 200px;
  }
  .headings h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 676px){
  .picture{
    margin-left: 1%;
    margin-top: 15%;
  }
  .headings{
    margin-left:1%;
    margin-top: 25%;
  }
  .profile-pic {
    height: 300px;
    width: 180px;
    border: 5px solid;
    border-color: rgb(187, 13, 193) black;
    box-shadow: 0 0 30px rgb(187, 13, 193);
  }
  .headings h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 511px) {
  .headings{
    margin-top: 50%;
    margin-left: 0%;
  }
  .headings h1 {
    font-size: 25px;
  }

  .headings h2 {
    font-size: 15px;
  }

  .headings h3 {
    font-size: 13px;
  }
  .picture {
    margin-top: 35%;
    margin-left: 2%;
  }
  .profile-pic {
    height: 250px;
    width: 180px;
    border: 5px solid;
    border-color: rgb(187, 13, 193) black;
    box-shadow: 0 0 30px rgb(187, 13, 193);
  }
}
